@import "tailwindcss";

@theme {
  --color-primary: #d41111;
  --color-background-dark: #181111;
  --color-card-dark: #271c1c;
  --color-border-dark: #392828;
  --color-text-muted: #b99d9d;
  --font-lexend: "Lexend", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    @apply antialiased;
  }

  html.dark {
    color-scheme: dark;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}